*{
  margin: 0;
  padding: 0;
}


:root {
  --bg-color: white;
  --text-color: black;
  --white: white;
  --black: black;
  /* lock colors */
}

[data-theme="dark"] {
  --bg-color: var(--black);
  --text-color: var(--white);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-size: 15px;
}

.article-section {
  text-align: center;
  padding: 4rem 1.5rem;
  color: black;
}

.article-grid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.articlelink {
  display: flex;
  justify-self: center;
  align-self: center;
  margin-top: 2rem;
  color: var(--white);
  text-decoration: none;
}




