
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: transparent; 
  backdrop-filter: blur(10px);
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  transition: all 0.3s ease;
  left: 0;
}





header a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  cursor: pointer;
  user-select: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  transition: 0.3s ease;
}

.logo:hover {
  transform: translateY(-3px);
}

.logoimage img {
  width: 42px;
  height: 42px;
  object-fit: contain;
  filter: drop-shadow(0 0 4px rgba(0, 170, 255, 0.3));
  transition: 0.4s ease;
  border-radius: 50%;
}

.logoimage img:hover {
  filter: drop-shadow(0 0 8px rgba(0, 170, 255, 0.6));
}

.logo strong {
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 700;
  background: linear-gradient(90deg, #00c8ff, #007bff);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.navbar {
  display: flex;
  justify-content: center;
  /* background-color: #ecf0f1; */
  padding: 0.3rem;
  border-radius: 1rem;
  transition: all 0.3s ease;
  width: 30%;
  color: white;

}

 /* .navbar ul {
  display: grid;
  grid-template-columns: repeat(6fr, fr);
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem; 
  width: 100%;
 }  */

.navbar ul {
 display: flex;
 list-style: none;
 width: 100%;
align-items: center;
justify-content: space-around;
}

.navbar ul li {
  text-align: center;
  padding: 0.9rem;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  text-decoration: none;
  transition: 0.3s ease;
  width: 100%;
}

.navbar ul li:hover {
  background-color: var(--black);
  border-radius: 0.8rem;
  color: rgb(141, 139, 139);
}


.contact {
  background-color: #f4d03f;
  
}

.contact:hover {
  background-color: #cab45d;
}

.togglemenu {
  margin-left: 3rem;
}

.mobile-header {
  display: none;
}
