
.carousel {
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
  background: transparent;
}

.carousel-track {
  display: flex;
  gap: 3rem;
  animation: scroll 25s linear infinite;
  white-space: nowrap;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text);
  opacity: 0.9;
  transition: 0.3s;
  min-width: 90px;
  text-align: center;
  font-size: 0.9rem;
}

.carousel-item:hover {
  opacity: 1;
  transform: scale(1.15);
}

.carousel-item svg {
  margin-bottom: 0.5rem;
}


@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


