
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 0.5rem;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
  cursor: pointer;
  background-color: transparent;
  color: var(--white);
  border: none;
}

.dropdown-button .icon {
  color: var(--white, white);
  stroke: var(--white, white);
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown-button:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}


.icon {
  width: 1.5rem;
  height: 1.5rem;
}


.dropdown-content {
  position: absolute;
  top: 60px;
  right: -40px;
  left: auto;
  width: 100vw;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.95);
  border: none;
  border-radius: 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1001;
  overflow-y: auto;
  margin: 0;
  padding: 2rem 0;
  /* border-bottom: 1.5px solid white; */
}

.dropdown-content::-webkit-scrollbar {
  display: none;
}

.dropdown-content {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.dropdown-content ul {
  list-style: none;
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 1.5rem;
  padding: 0;
  width: 100%;
  /* border-bottom: 1px white; */
}

.dropdown-content ul a {
  text-decoration: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem 0;
  transition: color 0.2s ease;
  /* border-bottom: 1px white; */
}

.dropdown-content ul a:hover {
  color: #00c8ff;
}

.dropdown-content ul li a.contact {
  color: black !important;
  background-color: #f4d03f;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  display: inline-block;
}

.dropdown-content ul li a.contact:hover {
  background-color: #cab45d;
  color: white !important;
}

.dropdown-nav {
  display: flex;
  flex-direction: column;
}


.dropdown-item {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #d1d5db;
  transition: background-color 0.15s;
  text-decoration: none;
  color: #111827;
}

.dropdown-item:hover {
  background-color: #f3f4f6; 
}

.dropdown-item.first-item {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.dropdown-item.last-item {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: none;
}
